.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container .card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}


.product-name {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}
.category {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.price {
    font-size: 18px;
    font-weight: 700;
    color: #27ae60;
    margin-bottom: 10px;
}
.rating {
    font-size: 16px;
    color: #f39c12;
    margin-bottom: 10px;
}
.stock {
    font-size: 16px;
    color: #2980b9;
    margin-bottom: 10px;
}
.discount {
    font-size: 16px;
    color: #e74c3c;
}
.product-discount span {
    font-weight: 700;
}
