* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.app-container {
    display: grid;
    gap: 20px;
    padding: 20px 20px 40px;
    margin: 0 20px;
    grid-template-columns: repeat(1, 1fr);

}

.container-heading {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

@media (min-width: 600px) {
    .app-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 991px) {
    .app-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .app-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
